<a href="https://colab.research.google.com/github/Dan22dongwon/Pandas-/blob/main/pandas_%EB%94%B0%EB%9D%BC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 판다스 데이터 저장 및 불러오기

In [ ]:
import pandas as pd

In [ ]:
data = {
    "메뉴":['후라이드', '양념치킨', '간장치킨', '마늘치킨', '파닭', '닭강정', '양반후반'],
    "가격":[12000, 13000, 14000, 14000, 14000, 15000, 13000],
    "호수":['10호', '10호', '9호', '9호', '11호', '12호', '10호'],
    "칼로리":[1000, 1400, 1600, 1800, 1300, 1500, 1300],
}

data = pd.DataFrame(data)
data.to_csv('modudak.csv',index=False)

#데이터 불러오기

In [ ]:
pd.read_csv('modudak.csv')

#데이터 불러와서 변수에 담기

In [ ]:
df = pd.read_csv('modudak.csv')

#데이터 샘플 확인: 앞에서 부터 n개 (기본 5개)

In [ ]:
df.head()  # 기본적으로 5개 확인 가능

# 데이터 샘플 확인 : 앞에서 부터 2

In [ ]:
df.head(2)

#데이터 샘플 확인: 뒤에서 부터 n개(기본 5개)

In [ ]:
df.tail()

#데이터 샘플 확인: 뒤에서 부터 2개

In [ ]:
df.tail(2)

#CSV 파일로 저장하기

In [ ]:
df.to_csv('test.csv')

#저장된 csv확인

In [ ]:
pd.read_csv('test.csv',index=False)   # 기본적으로 index는 Ture 로 들어 가 있음

# 데이터 선택하기

열(column)선택
>>시리즈 선택 (메뉴)

In [ ]:
df['메뉴']      # 1 방법
df.메뉴           # 2 반법

>> 데이터프레임 선택(메뉴,가격)

In [ ]:
df[['메뉴','가격']]  # 대괄호 두번

>> type 확인

In [ ]:
type(df[['메뉴','가격']])

> 행(row) 선택

In [ ]:
#1400원 보다 큰 가격

df['가격']>=14000

In [ ]:
#14000원 보다 큰 가격 데이터 선택
cond = df['가격']>=14000
df[cond]

In [ ]:
#조건 2개 이상 일때(And)
# 가격 >= 14000
# 호수 == 9호

cond1 = df['가격'] >= 14000
cond2 = df['호수'] == '9호'
df[cond1&cond2]

In [ ]:
#조건 2개 이상 일때(Or)
# 가격 >= 14000
# 호수 == 9호

cond1 = df['가격'] >= 14000
cond2 = df['호수'] == '9호'
df[cond1|cond2]

In [ ]:
# isin() 함수 활용
cond3 = df['호수'].isin(['9호','10호'])
df[cond3]

#인덱싱/슬라이싱

In [ ]:
#데이터 불러오기
df=pd.read_csv('modudak.csv')
df

In [ ]:
#인덱스명 임의 변경
df['index']=['a','b','c','d','e','f','g']
df = df.set_index(keys=['index'])
df

#loc  
 > 인덱스명
 
 > 인덱스 명(범위), 컬럼 명(범위)

In [ ]:
#인덱싱(행 전체)
#후라이드
df.loc['a']

In [ ]:
#슬라이싱(컬럼 전체)
#가격
df.loc[:,'가격']

In [ ]:
#슬라이싱
#양념치킨 가격
df.loc['b','가격']

In [ ]:
df

In [ ]:
#슬라이싱
#간장킨메뉴와 가격
df.loc['c','메뉴':'가격']

In [ ]:
#슬라이싱
#간장치킨 메뉴와 가격
df.loc['c',['메뉴','칼로리']]

In [ ]:
#슬라이싱
#양념치킨에서 마늘치킨까지 메뉴와 가격
df.loc['b':'d','메뉴':'가격']

iloc 
>인덱스 번호

>인덱스 번호(범위),컬럼번호(범위)

In [ ]:
#데이터 확인
df

In [ ]:
#인덱싱(행 전체)
#후라이드
df.iloc[0]

In [ ]:
#슬라이싱(컬럼 전체)
#가격
df.iloc[:,1]

In [ ]:
#슬라이싱
#간장치킨 메뉴와 가격
df.iloc[2,0:2]

In [ ]:
#슬라이싱(양념치킨과 간장치킨의 데이터)
df.iloc[1:3,0:-1]

#Index 다루기

In [ ]:
#데이터 불러오기
df = pd.read_csv('modudak.csv')
df

Set_index

In [ ]:
#set_index(keys=[컬럼명])
#df.set_index(keys=['메뉴'])

In [ ]:
#loc 슬라이싱
#양념치킨에서 마늘치킨 가지 호수에서 칼로리까지
df.loc['양념치킨':'마늘치킨','호수':'칼로리']

In [ ]:
#iloc 슬라이싱
#양념치킨 만늘치킨까지 호수에서 칼로리까지
df.iloc[1:4,1:]

#reset_index

In [ ]:
#reset_index(기본값 drop= False)
df.reset_index()
df.reset_index(drop=True) # 기존에 있는 인덱스명을 안적어줘도 될때

#행과 열 추가

In [ ]:
#할인율 컬럼 추가 (값은 0.2)
df['할인']=0.2
df

In [ ]:
#할인가 컬럼 추가
df['할인가'] = df['가격']*(1-df['할인'])
df

In [ ]:
#결측값으로 추가, 원산지 컬럼 만들고 결측값 (NaN)으로 대입
import numpy as np
df['원산지'] = np.nan
df

행(row)추가

In [ ]:
# 리스트 형태로 데이터 (행) 추가
aiffel = ['아이펠치킨','16000','11호',1200,0.5,8000,'국내산']
df.loc['new'] = aiffel
df

In [ ]:
# 딕셔너리 형태로 데이터(행) 추가
flip = {'메뉴':'풀잎치킨','가격':10000 , '호수':'10호'}
df.loc[10] = flip         #리스트는 모든 값을 넣어야 되지만 딕셔너리는 넣고 싶은 데이터만 매칭 하여 넣을 수 있다
df

값변경

In [ ]:
# 후라이드의 원산지는 '국내산' 값 추가(loc 활용)
df.loc[0,'원산지'] = '국내산'
df

In [ ]:
# 파닭과 닭강정의 원산지는 '브라질' 값 추가(iloc활용)
df.iloc[4,-1] = '브라질'
df.iloc[5,-1] = '브라질'
df

In [ ]:
# replace 활용 (양반후반 -> 양념반후라이드반)
df = df.replace('양반후반','양념반후라이드반')
df

In [ ]:
# replace 활용 (아이펠치킨 -> [인기]아이펠치킨, 풀잎치킨 -> [베스트]풀잎치킨)
df = df.replace('아이펠치킨','[인기]아이펠치킨').replace('풀잎치킨','[베스트]풀잎치킨')
df

In [ ]:
# replace, 딕셔너리 활용 (후라이드 -> 황금후라이드 , 양념치킨 -> 승일양념치킨)
d = {'후라이드':'황금후라이드','양념치킨':'승일양념치킨'}
df = df.replace(d)
df

In [ ]:
# 숫자 변경 : 10000 -> 9900
df = df.replace(10000,9900)
df

In [ ]:
#new_modudak.csv 로 저장
df.to_csv('new_modudak.csv') #인덱스 값을 False로 두지 않으면 처음 인덱스가 Unnamed 0 으로 뜬다 따라서, df.to_csv('new_modudak.csv', index=False) 
df

Unnamed 0 index=False 로 두지 않았기때문에 생김

In [ ]:
import pandas as pd 
import numpy as np
df = pd.DataFrame({
    'Unnamed: 0': [0,1,2,3,4,5,6,'new',10],
    '메뉴': ['황금후라이드','승일양념치킨','간장치킨','마늘치킨','파닭','닭강정','양념반후라이드반','[인기]아이펠치킨','[베스트]풀잎치킨'],
    '가격': [12000,13000,14000,14000,14000,15000,13000,16000,9900],
    '호수' : ['10호','10호','9호','9호','11호','12호','10호','11호','10호'],
    '칼로리' : [1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,np.nan],
    '할인율' : [0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,np.nan],
    '할인가' : [9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,np.nan],
    '원산지' : ['국내산',np.nan,np.nan,np.nan,'브라질','브라질',np.nan,'국내산',np.nan]
})
df.to_csv('new_modudak.csv', index=False)
df

In [ ]:
#데이터 불러오기 (인덱스 값 지정 index_col)
pd.read_csv('new_modudak.csv',index_col='Unnamed: 0')
df

#데이터 삭제
 컬럼삭제

In [ ]:
#[Tip] 데이터프레임 복사
data = df.copy()
data

In [ ]:
# 데이터 삭제 (컬럼(열): Unnamed: 0') drop(axis=1)
# axis=1:열방향(컬럼) / axis=0:행방향
df.drop('Unnamed: 0', axis=1)

In [ ]:
# 데이터 삭제 (컬럼: Unnamed: 0') drop(columns=[])
data = data.drop(columns=['Unnamed: 0','원산지'])
data

In [ ]:
# 데이터 복사(data -> df)
df = data.copy()
df

행 삭제

In [ ]:
#행 삭제(파닭)
data=data.drop(4,axis=0)
data

In [ ]:
#행 삭제(양념반후라이드반) inplace=True  : inplace를 True로 설정시 대입 없이 삭제 가능
data.drop(5,axis=0,inplace=True)
data

In [ ]:
#행 삭제(조건) 가격 >=14000 삭제
cond = data['가격'] >= 14000
data[cond].index

In [ ]:
#행 삭제 (해당 인덱스 )
data.drop(data[cond].index,axis=0,inplace=True)
data

#**결측치 처리**
  결측치 삭제

In [ ]:
#데이터프레임 복사
data = df.copy()
data

In [ ]:
#결측치가 있는 행 모두 삭제
data.dropna(axis=0)

In [ ]:
#결측치가 있는 컬럼 모두 삭제
data.dropna(axis=1)

#결측치 채우기

In [ ]:
#컬럼별 결측치 확인
df = pd.read_csv('new_modudak.csv')

df.isnull().sum()

In [ ]:
#결측값 채우기
#원산지 -> '알수없음' 으로 채우기
df = pd.read_csv('new_modudak.csv')

df['원산지'].fillna('알수없음')

In [ ]:
#원산지 최빈값으로 채우기
df['원산지'].fillna('국내산')

In [ ]:
#원산지 채우기 실행
df = pd.read_csv('new_modudak.csv')

df = df['원산지'].fillna('국내산')
df

In [ ]:
#'칼로리'컬럼 결측치는 900으로 결측치 채움
df = pd.read_csv('new_modudak.csv')

df['칼로리'].fillna(900)

In [ ]:
#'칼로리'컬럼 결측치는 최소값 결측치 채움
df = pd.read_csv('new_modudak.csv')

df['칼로리'].fillna(df['칼로리'].min)

In [ ]:
#칼로리 채우기 실행
df = pd.read_csv('new_modudak.csv')

df['칼로리'] = df['칼로리'].fillna(df['칼로리'].min)

#정렬

In [ ]:
df = pd.read_csv('new_modudak.csv')
df

In [ ]:
#인덱스 기준 (기본값 ascending= True)
df.sort_index(ascending=False)

In [ ]:
#값 기준(기본값 ascending = True)
#메뉴 기중 정렬
df.sort_values('가격',ascending=False)

In [ ]:
# 가격과 메뉴 기중 정렬
df.sort_values(['가격','원산지'], ascending=[False, True])

In [ ]:
# 인덱스 새로 만들기 drop = True
df.reset_index(drop=True)

#자료형 변환

In [ ]:
# type 확인
df = pd.read_csv('new_modudak.csv')
df.info()